{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}
<div class="atypikhouse-container">
<div class="dashboard-wrapper my-4">
    <div class="navigation-link d-flex gap-1">
        <a data-checked="profil" class="click click-success">Mon profil</a>
        <a data-checked="signal" class="click click-c5">Habitations signalés</a>
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR')) %}
        <a data-checked="users" class="click click-c5">Utilisateurs</a>
        {% endif %}
        <a data-checked="settings" class="click click-c5">Paramètres</a>
    </div>
    <div data-selected="profil" class="form-style">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        <h3>Mes données personnelles</h3>   
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName, {'value': userdata.firstName}) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName, {'value': userdata.lastName}) }}
                    {{ form_errors(form.lastName) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.society) }}
                    {{ form_widget(form.society, {'value': userdata.society}) }}
                    {{ form_errors(form.society) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.birthday) }}
                    
                    {{ form_widget(form.birthday, {values: '2022'}) }}
                    {{ form_errors(form.birthday) }}
                    {{ form_help(form.birthday) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'value': userdata.email, disabled: 'disabled'}) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.phoneNumber) }}
                    {{ form_widget(form.phoneNumber, {'value': userdata.phoneNumber}) }}
                    {{ form_errors(form.phoneNumber) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address, {'value': userdata.address}) }}
                    {{ form_errors(form.address) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.complAddress) }}
                    {{ form_widget(form.complAddress, {'value': userdata.complAddress}) }}
                    {{ form_errors(form.complAddress) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city, {'value': userdata.city}) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.country) }}
                    {{ form_widget(form.country, {'value': userdata.country.id}) }}
                    {{ form_errors(form.country) }}
                </div>
            </div>
        <h3>Mot de passe</h3>

            <div>
                Laissez vide pour conserver l'ancien mot de passe
            </div> 
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first) }}
                    {{ form_errors(form.password.first) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.password.second) }}
                    {{ form_widget(form.password.second) }}
                    {{ form_errors(form.password.second) }}
                </div>
            </div> 
        <div class="form-group">
            <button class="click click-brown ml-auto" name="click-update">Modifier mes données</button>
        </div>  
        {{ form_end(form) }}
    </div>
    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR')) %}
    <div data-selected="users" class="d-none">
        <h3>Utilisateurs du site</h3>
        <input type="text" id="search-users" data-link="{{ path('admin_users_list') }}" placeholder="Recherche l'utilisateur">
        <div class="users-list"></div>
    </div>
    {% endif %}
    <div data-selected="settings" class="d-none">
        {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR')) %}
        <div class="my-2">
            <h3>Recherche</h3>
            <input type="text" id="settings-search" placeholder="Rechercher un équipement ou un type">
            <div class="settings-result"></div>
        </div>
        <div class="my-4">
            <h3>Paramètres</h3>
            <form id="settings-wrapper" method="POST">
                <div class="my-1">
                    <label>Email de l'administration *</label>
                    <input type="email" required placeholder="gestion@atypikhouse.com" name="email_admin_setting" id="email_admin_setting">
                </div>
                <div class="my-1">
                    <label>Message de réservation *</label>
                    <textarea name="message_setting" required id="message_setting"></textarea>
                    <div>Insérer dans votre message</div>
                    <ul>
                        <li>_firstname_ pour le prénom</li>
                        <li>_lastname_ pour le nom</li>
                        <li>_title_ pour le titre</li>
                        <li>_totalprice_ pour le prix total</li>
                        <li>_arrival_ pour la date d'arrivée</li>
                        <li>_departure_ pour la date de départ</li>
                    </ul>
                </div>
                <div>
                    <label>Frais de service (En pourcentage) *</label>
                    <input type="number" min="0" max="100" name="tax_setting" id="tax_setting">
                </div>
                <section class="my-3">
                    <h3>Page d'accueil</h3>
                    <div class="form-row">
                        <div class="form-group bloc-lg-6">
                            <label>Titre de la page d'accueil *</label>
                            <input type="text" required name="home_title_setting" id="home_title_setting">
                        </div>
                        <div class="form-group bloc-lg-6">
                            <label>Image de la page d'accueil</label>
                            <input type="file" name="home_picture_setting" id="home_picture_setting">
                        </div>
                    </div>
                </section>
                <section class="my-3">
                    <h3>Page à propos</h3>
                    <div class="form-row">
                        <div class="form-group bloc-lg-6">
                            <label>Titre</label>
                            <input type="text" name="about_title_setting" name="about_title_setting" id="about_title_setting" class="reset-value" placeholder="Pourquoi choisir AtypikHouse ?">
                        </div>
                        <div class="form-group bloc-lg-6">
                            <label>Résumé</label>
                            <input type="text" name="abstract_title_setting" id="abstract_title_setting" class="reset-value" placeholder="Atypikhouse vous aide à...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Desciption</label>
                        <textarea type="text" row="10" name="about_description_setting" id="about_description_setting" class="reset-value" placeholder="Des habitats spacieux, répondant à tous vos besoins"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Image de couverture</label>
                        <input type="file" name="about_picture_setting" id="about_picture_setting" class="reset-value">
                    </div>
                </section>
                <div class="form-row">
                    <div class="form-group bloc-lg-6">
                        <label>Ajouter un type d'habitation</label>
                        <input type="text" name="type_setting" name="type_setting" id="type_setting" class="reset-value" placeholder="exp: Yourte, Cabane dans les arbre, Cabane flottante">
                    </div>
                    <div class="form-group bloc-lg-6">
                        <label>Ajouter un équipement</label>
                        <input type="text" name="equipment_setting" id="equipment_setting" class="reset-value" placeholder="exp: Wifi, Eau">
                    </div>
                </div>


                <button type="submit" class="click click-success">Appliquer</button>

            </form>
        </div>
        {% endif %}
        <div id='delete-account' class="my-2">
            <div class="card card-dismiss d-none text-center">
                <h3>Attention !</h3>
                <p>En supprimant votre compte, vous serez déconnecté du site 
                et ne pourrez pas créer un nouveau compte avec une même adresse email pendant un certain moment.</p>
                <p>Nous retirons immédiatement tout élément reliant à votre compte dès lors où vous acceptez de supprimer votre compte. 
                Vos données seront définitivement supprimé de notre site sous une période de 2 ans.</p>
                <h3>Voulez-vous vraiment supprimer votre compte ?</h3>
                <div class="d-flex gap-1 w-max-content m-auto">
                    <input type="submit" value="Non" id='btn-delete-cancel' class="click click-success">
                    <input type="submit" value="Oui" id='btn-delete-confirm' class="click click-brown">
                </div>
            </div>
            <input type="submit" value="Supprimer mon compte" id='btn-delete-account' class="click click-brown">
        </div>
    </div>

    <div data-selected="signal" class="d-none">
        <div class="settings-signal-historical"></div>
    </div>
</div>
</div>
{% include 'inc/parts/footer.html.twig' %}