{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}
<div class="atypikhouse-container">
<div class="dashboard-wrapper my-4">
    <div class="navigation-link d-flex gap-1">
        <a data-checked="profil" class="click click-success">Mon profil</a>
        <a data-checked="users" class="click click-c5">Utilisateurs</a>
        <a data-checked="settings" class="click click-c5">Paramètres</a>
    </div>
    <div data-selected="profil" class="form-style">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        <h3>Mes données personnelles</h3>   
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName, {'value': userdata.first_name}) }}
                    {{ form_errors(form.firstName) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName, {'value': userdata.last_name}) }}
                    {{ form_errors(form.lastName) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.society) }}
                    {{ form_widget(form.society, {'value': userdata.society}) }}
                    {{ form_errors(form.society) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.birthday) }}
                    {{ form_widget(form.birthday, {value: "now"|date("dd-MM-yyyy")}) }}
                    {{ form_errors(form.birthday) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'value': userdata.email, disabled: 'disabled'}) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.phoneNumber) }}
                    {{ form_widget(form.phoneNumber, {'value': userdata.phone_number}) }}
                    {{ form_errors(form.phoneNumber) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address, {'value': userdata.address}) }}
                    {{ form_errors(form.address) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.complAddress) }}
                    {{ form_widget(form.complAddress, {'value': userdata.compl_address}) }}
                    {{ form_errors(form.complAddress) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city, {'value': userdata.city}) }}
                    {{ form_errors(form.city) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.country) }}
                    {{ form_widget(form.country, {'value': userdata.country}) }}
                    {{ form_errors(form.country) }}
                </div>
            </div>
        <h3>Mot de passe</h3>

            <div>
                Laissez vide pour conserver l'ancien mot de passe
            </div> 
            <div class="form-row">
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.password.first) }}
                    {{ form_widget(form.password.first) }}
                    {{ form_errors(form.password.first) }}
                </div>
                <div class="form-group bloc-lg-6">
                    {{ form_label(form.password.second) }}
                    {{ form_widget(form.password.second) }}
                    {{ form_errors(form.password.second) }}
                </div>
            </div> 
        <div class="form-group">
            <button class="click click-brown ml-auto" name="click-update">Modifier mes données</button>
        </div>  
        {{ form_end(form) }}
    </div>
    <div data-selected="users" class="d-none">
        <h3>Utilisateurs du site</h3>
        <input type="text" id="search-users" data-link="{{ path('admin_users_list') }}" placeholder="Recherche l'utilisateur">
        <div class="users-list"></div>
    </div>
    <div data-selected="settings" class="d-none">
        <h3>Paramètres</h3>
        <form>
            <div class="my-2">
                <label>Message de réservation</label>
                <textarea></textarea>
                <div>Insérer dans votre message</div>
                <ul>
                    <li>_firstname_ pour le prénom</li>
                    <li>_lastname_ pour le nom</li>
                    <li>_title_ pour le titre</li>
                    <li>_totalprice_ pour le prix total</li>
                    <li>_arrival_ pour la date d'arrivée</li>
                    <li>_departure_ pour la date de départ</li>
                </ul>
            </div>
            <div>
                <label>Frais de service</label>
                <input type="number" min="0" max="100">
            </div>
            <div>
                <label></label>
                <textarea></textarea>
            </div>
        </form>
    </div>
</div>
</div>
{% include 'inc/parts/footer.html.twig' %}