{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('error') %}
    <div class="alert alert-error">
        {{ message }}
    </div>
{% endfor %}
<div class="atypikhouse-container my-6">
    <div class="page-title">
        <h1 class="text-uppercase c1 size20 ff-r">{{ title }}</h1>
    </div>
    <div class="user-wrapper my-3">
        <div class="user-login form-style">
            
            <h2 class="size18">Vous avez oublié votre mot de passe ?</h2>
            {% if form %}
            {{ form_start(form) }}
                <div class="form-group">
                {{ form_label(form.password.first) }}
                {{ form_widget(form.password.first) }}
                {{ form_errors(form.password.first) }}
                </div>
                <div class="form-group">
                {{ form_label(form.password.second) }}
                {{ form_widget(form.password.second) }}
                {{ form_errors(form.password.second) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="click click-success ml-auto">Réinitialiser mon mot de passe</button>
                </div>
            {{ form_end(form) }}
            {% else %}
            <form class="user-login-form" method="post">
                <div class="form-group">
                    <label for="username">E-mail *</label>
                    <input type="email" name="email" id="username" placeholder="Adresse électronique" required/>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group">
                    <button type="submit" name="btn-reset" class="click click-success ml-auto">Réinitialiser mon mot de passe</button>
                </div>
            </form>
            {% endif %}
            <div><a href="{{ path('login') }}" class="text-link-success">Non, je n'ai pas oublié mon mot de passe</a></div>
            <div><a href="{{ path('register') }}" class="text-link-success">Pas encore inscrit ?</a></div>
        </div>
    </div>
</div>


{% include 'inc/parts/footer.html.twig' %}