{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}



<div class="atypikhouse-container my-6">
    <div class="page-title">
        <h1 class="text-uppercase c1 size20 ff-r">{{ title }}</h1>
    </div>
    <div class="message-wrapper">
        <div class="message-col1">
            <div class="message-col1-header message-header">
                <h4>Messages</h4>
            </div>
            <div class="message-col1-body message-body">
                {% if selected %}
                    {% for element in selected %}
                    <div class="bg-c5 choice-discussion">
                        <h4>{{ element.fn2 }} {{ element.ln2 }}</h4>
                        <h5>{{ element.added_at }}</h5>
                        <p>{{ element.message |slice(0, 150)}}...</p>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="message-col2">
            <div class="message-col2-header message-header">
                <h4>Nathan DIAFOUKA</h4>
            </div>
            <div class="message-col2-body message-body">
                {% if details %}
                    {% for element in details %}
                    {% if element.sender_id != app.user.id %}
                    <div class="content-message message-received bg-c1 c4">
                        <h4>{{ element.fn2 }} {{ element.ln2 }}</h4>
                        <h5>{{ element.added_at }}</h5>
                        <p>{{ element.message}}</p>
                    </div>
                    {% elseif element.sender_id == app.user.id %}
                    <div class="content-message message-send bg-c2 c4">
                        <h4>{{ element.fn2 }} {{ element.ln2 }}</h4>
                        <h5>{{ element.added_at }}</h5>
                        <p>{{ element.message}}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="message-col2-footer">
                <textarea></textarea>
            </div>
        </div>
    </div>
</div>


{% include 'inc/parts/footer.html.twig' %}