{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}
<div class="atypikhouse-container">
<div class="my-2">
{{ form_start(form) }}
{{ form_label(form.value) }}
<div class="d-flex gap-1 my-2">
{{ form_widget(form.value, {'value': iban, 'pattern':'de'}) }}
{{ form_errors(form.value) }}
<button type="submit" name="insert-rib" class="click click-success">Sauvegarder</button>
</div>
{{ form_end(form) }}
</div>

{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
{% if historical %}
<div class="responsive-table">
<table id="historical-table" class="text-center ath-table-form">
    <thead>
        <tr>
            <th colspan="3">Hôte</th>
            <th>Habitation</th>
            <th>IBAN</th>
            <th>Prix total</th>
            <th>Sous total</th>
            <th>Frais de service</th>
            <th>Statut</th>
            <th>Paiement</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="bg-c5">Prénom</td>
            <td class="bg-c5">Nom</td>
            <td class="bg-c5">E-mail</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% if is_granted('ROLE_ADMIN') %}
            <td></td>
            {% endif %}
        </tr>
        {% for histo in historical %}
        <tr data-id='{{ histo[8] }}'>
            <td>{{ histo[19] }}</td>
            <td>{{ histo[20] }}</td>
            <td>{{ histo[21] }}</td>
            {% set productUrl = histo[4] | replace({'%20':'-', ' ':'-', '%c3%a9':'e', '%27':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u'}) %}
            <td><a href="{{ path('app_habitation', {'slug': productUrl, 'id': histo[3] }) | lower }}">{{ histo[4] }}</a></td>
            <td>{{ histo[22] }}</td>
            <td class="c1 ff-m">{% if histo[9] %}{{ histo[9] }} €{% endif %}</td>
            <td class="c1 ff-m">{% if histo[10] %}{{ histo[10] }} €{% endif %}</td>
            <td class="c1 ff-m">{% if histo[11] %}{{ histo[11] }} €{% endif %}</td>
            <td>{{ histo[7] }}</td>
            <td>{% if histo[17] == 'PAYMENT' %}Versement effectué{% endif %}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td class="d-flex gap-1 w-max-content">
            {% if not histo[17] %}
            {% if histo[22] %}
            <form method="POST">
            <input type="submit" class="click click-brown" value="Verser" name="payment_made">
            <input type="hidden" value="{{ histo[8] }}" name="payment_dwelling_id">
            </form>
            {% endif %}
            {% endif %}
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="btn-navigate d-flex jc-center gap-2 my-3">
{{ knp_pagination_render(historical) }}
</div>
{% endif %}

{% if message %}
<p class="size18 ff-m c2 text-center">{{ message }}</p>
{% endif %}
{% endif %}

</div>
{% include 'inc/parts/footer.html.twig' %}