{% if users %}
<div class="responsive-table">
<table id="users-table" class="text-center ath-table-form">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Hôte</th>
            <th>Détails</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr data-id="{{ user.id }}">
            <td>{{ user.last_name }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.email }}</td>
            {% set role = user.roles | replace({'[':'', ']':'', '"':''}) %}
            <td>{{ role }}</td>
            <td>{{ user.host }}</td>
            <td class="d-flex gap-1">
                <button name="btn-see-user" data-id="{{ user.id }}" data-link="{{ path('admin_user_view') }}" class="click click-success m-auto d-flex gap-1">Voir <i class="fas fa-eye"></i></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}
{% if errors %}
{{ errors }}
{% endif %}