{% if datas %}
<table id="historical-table" class="text-center ath-table-form">
    <thead>
        <tr>
            <th>Image</th>
            <th>Titre</th>
            <th>Prix</th>
            <th>Ville</th>
            <th>Etat</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for dwelling in datas %}
        <tr>
            {% set pictures = dwelling.pictures|replace({'"':'', '[':'', ']':''})|split(',') %}
            <td class="w-7r h-7r"><img src="{{ ath_link }}/uploads/dwellings/{{ pictures[0] }}"></td>
            <td>{{ dwelling.title }}</td>
            <td>{{ dwelling.price }}</td>
            <td>{{ dwelling.city }}</td>
            <td>{{ dwelling.state }}</td>
            {% set productUrl = dwelling.title | replace({'%20':'-', ' ':'-', '%c3%a9':'e', '%27':'', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u'}) %}
            <td class="d-flex gap-1 w-max-content m-auto ai-center">
                <a href="{{ path('edit_dwelling', {id: dwelling.id}) }}" class="click click-brown">Modifier</a>
                <a href='{{ path('app_habitation', {'slug': productUrl, 'id': dwelling.id}) | lower }}' class="click click-success">Voir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if message %}
{{ message }}
{% endif %}