{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}

{% if carousel == true %}
{% include 'inc/parts/carousel.html.twig' %}
{% endif %}
{% include 'inc/modules/search/popupsearch.html.twig' %}


<div class="atypikhouse-container my-3">
    <div class="main-page">
        <div class="dwelling-wrapper">
            <div class="dwelling-inner-research">
            {% include 'inc/modules/search/search.html.twig' %}

            </div> 
            <div class="page-title my-2">
                <h1 class="text-uppercase c1 size22 ff-r">{{ title }}</h1>
            </div>
            <div class="search-dwelling">
                <div class="search-dwelling-items">

                    {% for dwellings in dataDwellings %}
                        <a href="{{ path('app_habitation', {'slug': dwellings[0].title, 'id': dwellings[0].id}) | replace({'%20':'-', '%c3%a9':'e', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u'}) |lower }}" class="search-dwelling-item">
                            <div class="search-dwelling-picture border-radius-form">
                                {% set pictures = dwellings[0].pictures|replace({'"':'', '[':'', ']':''})|split(',') %}
                                <img src="{{ ath_link }}/uploads/dwellings/{{ pictures[0] }}" alt="AtypikHouse search">
                            </div>
                            
                            <div class="dwelling-item-info d-flex flex flex-dir-col jc-space-between gap-1">
                                <div class="my-1 d-flex flex flex-dir-col">
                                    <span><i class="fas fa-star c1 size18"></i> {{ dwellings[5] }} ( {{ dwellings[3].count }} {% if dwellings[3].count > 1 %} Commentaires {% else %} Commentaire {% endif %})</span>
                                    <span>A partir de <span class="c1 ff-m size24">{{ dwellings[0].price }}€</span></span>
                                </div>
                                <div class="my-1">
                                    {% for limit in dwellings[1] %}
                                    {% if limit.field == "_animals" %}
                                    <span>{% if limit.value == "TRUE" %}Animaux acceptés,{% else %}Animaux non acceptés,{% endif %}</span>
                                    {% endif %}
                                    {% endfor %}
                                    <span>etc,...</span>

                                </div>
                                <div class="my-1 d-flex flex flex-dir-col">
                                    <span>{{ dwellings[0].title }}</span>
                                    <span>{{ dwellings[0].city }}, {{ dwellings[0].state }} - {{ dwellings[2].name_fr }}</span>
                                    <span>{{ dwellings[2].name_fr }}</span>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    
                    <div class="btn-navigate d-flex jc-center gap-2 my-3">
                    {{ knp_pagination_render(dataDwellings) }}
                    </div>
                </div>
                <div id="dwelling_gps"></div>
            </div>
        </div>
    </div>
</div>
<script>

villes = []
{% for location in locations %}
    var ville = {city: '{{ location[0] }}', lon: '{{ location[1] }}', lat: "{{ location[2] }}"}
    villes.push(ville)
{% endfor %}
var cities = JSON.stringify(Object.assign({}, villes))
cities = JSON.parse(cities)

    var map = L.map('dwelling_gps').setView([cities[0].lat, cities[0].lon], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        minZoom: 1,
        maxZoom: 19,
        attribution: '© OpenStreetMap | AtypikHouse'
    }).addTo(map);
    for(city in cities){
        var marqueur = L.marker([cities[city].lat, cities[city].lon])
        .addTo(map);
        marqueur.bindPopup("<p>"+cities[city].city+"</p>")
    }
    {#var marker = L.marker([48.86, 2.33]).addTo(map);#} 
</script>

{% include 'inc/parts/footer.html.twig' %}