{% include 'inc/parts/head.html.twig' %}
{% include 'inc/parts/nav.html.twig' %}

<div class="atypikhouse-container my-6">
    <div class="main-page">
        <div class="dwelling-wrapper">
            
                {% for dwelling in dwellings %}
                {% set productUrl = dwelling[0].title | replace({'%20':'-', ' ':'-', '%c3%a9':'e', 'á':'a', 'é':'e', 'í':'i', 'ó':'o', 'ú':'u'}) %}
                <header class="atypikhouse-products-grid">
                    {% set pictures = dwelling[0].pictures|replace({'"':'', '[':'', ']':''})|split(',') %}
                    <div class="product-items">
                        <div class="product-grid">
                            <img src="{{ ath_link }}/uploads/dwellings/{{ pictures[0] }}" alt="AtypikHouse header">
                        </div>
                        <div class="product-grid">
                            <img src="{{ ath_link }}/uploads/dwellings/{{ pictures[1] }}" alt="AtypikHouse header">
                        </div>
                        <div class="product-grid">
                            <img src="{{ ath_link }}/uploads/dwellings/{{ pictures[2] }}" alt="AtypikHouse header">
                        </div>
                        <div class="product-grid product-more-picture cp">
                            <div class="more-picture">Afficher plus d'images</div>
                            <img src="{{ ath_link }}/uploads/dwellings/{{ pictures[3] }}" alt="AtypikHouse header">
                        </div>
                    </div>
                    <div class="product-galery product-galery-dismiss d-none">
                        <div class="product-galery-items">
                        {% for picture in pictures %}
                            <div class="product-galery-cell">
                                <img src="{{ ath_link }}/uploads/dwellings/{{ picture }}" alt="AtypikHouse Galerie d'images {{ dwelling[0].title }}">
                            </div>
                        {% endfor %}
                        </div>
                        <div class="close-product-galery fas fa-times size28"></div>
                    </div>
                </header>
                <div class="main-page my-2">
                    <div class="product-page-stline">
                        <div class="product-col-1">
                            <h1 class="c1 ff-m">{{ dwelling[0].title }}</h1>
                            <h2 class="size18">Type: {{ dwelling[14] }}</h2>
                            <br>
                            <div>{{ dwelling[0].city }}, {{ dwelling[0].state }}, {{ dwelling[2] }}</div>
                            <div>A partir de <span class="c1 ff-m size24">{{ dwelling[0].price }}€</span></div>
                            <p>{{ dwelling[0].abstract }}</p>
                            {% if app.user %}
                            <p><a class="text-link-success cp" id='add-favorite' data-link="{{ path('dwelling_add_favorite') }}" data-id='{{ dwelling[0].id }}'><i class="fas fa-star size18"></i> Ajouter au favoris</a></p>
                            {% endif %}
                            <div class="d-flex gap-1 ai-center my-2">
                                <span>Partager sur</span> <a href="https://www.facebook.com/atypikhousef2i"><span class="fab fa-facebook-f"></span></a>
                                <a href="https://www.tiktok.com/@atypikhousef2i"><span class="fab fa-linkedin-in"></span></a>
                                <a href="https://www.instagram.com/atypikhousef2i"><span class="fab fa-tiktok"></span></a>
                            </div>
                            {# <a><i class="fas fa-heart size18"></i> Ajouter une mention j'aime</a> #}
                            {% if app.user %}
                            <div><a class="text-link-success cp" id='add-signal' data-id='{{ dwelling[0].id }}' data-link="{{ path('dwelling_add_signal') }}">Signaler ce logement</a></div>
                            {% endif %}
                        </div>
                        {% if app.user %}
                        {% if dwelling[0].user_id != app.user.id %}
                        <div class="product-col-2">
                            <div class="product-form-check">
                                <div class="form-row product-calendar atypikhouse-search-dispo">
                                    <div class="form-group col-lg-6 p-relative search-arrival-date target-data cp">
                                        Date d'arrivée
                                        <span class="form-input cp my-1 c1 single-product-arrival">_ _ /_ _ /_ _ _ _</span>
                                        <div class="superpose d-none calendar general-calendar calendar-reset">{{ calendarReset | raw }}</div>
                                    </div>
                                    <div class="form-group col-lg-6 p-relative search-departure-date target-data cp">
                                        Date de départ
                                        <span class="form-input cp my-1 c1 single-product-departure">_ _ /_ _ /_ _ _ _</span>
                                        <div class="superpose d-none calendar general-calendar calendar-reset"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span>Qui sont les voyageurs ?</span>
                                    <div class="my-1 single-product-travelers">
                                        {% for limit in dwelling[1] %}
                                        {% if limit.field == "_max_people" %}
                                        <div class="form-input cp nb-traverlers" data-adults="1">{{ limit.value }} voyageurs maximums</div>
                                        {% endif %}
                                        {% endfor %}
                                        <ul class="choice-travelers">
                                            
                                            {% for limit in dwelling[1] %}
                                                {% if limit.field == "_max_people" %}
                                                <input type="hidden" class="people-limit" value="{{ limit.value }}">
                                                {% endif %}
                                            {% endfor %}
                                            {% for limit in dwelling[1] %}
                                                {% if limit.field == "_minimum_age" %}
                                                {% if limit.value >= 0 %}<li>Adulte (11 ans et au delà) <input type="number" min="1" value="1" id="product-traveler-adult"></li>{% endif %}
                                                {% endif %}
                                                {% if limit.field == "_minimum_age" %}
                                                {% if limit.value < 11 %}<li>Enfant (3 ans à 10 ans)  <input type="number" min="0" value="0" id="product-traveler-children"></li>{% endif %}
                                                {% endif %}
                                                {% if limit.field == "_minimum_age" %}
                                                {% if limit.value < 3 %}<li>Bébé (0 à 2 ans) <input type="number" min="0" value="0" id="product-traveler-baby"></li>{% endif %}
                                                {% endif %}
                                                {% if limit.field == "_animals" %}
                                                {% if limit.value == "TRUE" %}
                                                <li>Animaux <input type="number" min="0" value="0" id="product-traveler-animal"></li>
                                                {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <input type="submit" name="checking-dispo" class="click click-success w-100" value="Vérifier les disponibilités">
                            </div>
                            <div class="product-form-checkout"></div>
                        </div>
                        {% else %}
                            <div class="product-form-check" data-dwelling="{{ dwelling[0].id }}" data-path="{{ path('unavailable') }}">
                                <div class="form-row product-calendar atypikhouse-search-dispo">
                                    <div class="form-group col-lg-6 p-relative search-arrival-date target-data cp">
                                        Date d'arrivée
                                        <span class="form-input cp my-1 c1 single-product-arrival">_ _ /_ _ /_ _ _ _</span>
                                        <div class="superpose d-none calendar general-calendar calendar-reset">{{ calendarReset | raw }}</div>
                                    </div>
                                    <div class="form-group col-lg-6 p-relative search-departure-date target-data cp">
                                        Date de départ
                                        <span class="form-input cp my-1 c1 single-product-departure">_ _ /_ _ /_ _ _ _</span>
                                        <div class="superpose d-none calendar general-calendar calendar-reset"></div>
                                    </div>
                                </div>
                                <input type="submit" name="note-unavailable" class="click click-success w-100" value="Noter indisponible">
                            </div>
                        {% endif %}
                        {% else %}
                        <div class="product-col-2">
                            <div class="product-form-check">
                                <div class="form-row product-calendar atypikhouse-search-dispo">
                                    <div class="form-group col-lg-6 p-relative search-arrival-date target-data cp">
                                        Date d'arrivée
                                        <span class="form-input cp my-1 c1 single-product-arrival">_ _ /_ _ /_ _ _ _</span>
                                        <div class="superpose d-none calendar general-calendar calendar-reset">{{ calendarReset | raw }}</div>
                                    </div>
                                    <div class="form-group col-lg-6 p-relative search-departure-date target-data cp">
                                        Date de départ
                                        <span class="form-input cp my-1 c1 single-product-departure">_ _ /_ _ /_ _ _ _</span>
                                        <div class="superpose d-none calendar general-calendar calendar-reset"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <span>Qui sont les voyageurs ?</span>
                                    <div class="my-1 single-product-travelers">
                                        {% for limit in dwelling[1] %}
                                        {% if limit.field == "_max_people" %}
                                        <div class="form-input cp nb-traverlers" data-adults="1">{{ limit.value }} voyageurs maximums</div>
                                        {% endif %}
                                        {% endfor %}
                                        <ul class="choice-travelers">
                                            
                                            {% for limit in dwelling[1] %}
                                                {% if limit.field == "_max_people" %}
                                                <input type="hidden" class="people-limit" value="{{ limit.value }}">
                                                {% endif %}
                                            {% endfor %}
                                            {% for limit in dwelling[1] %}
                                                {% if limit.field == "_minimum_age" %}
                                                {% if limit.value >= 0 %}<li>Adulte (11 ans et au delà) <input type="number" min="1" value="1" id="product-traveler-adult"></li>{% endif %}
                                                {% endif %}
                                                {% if limit.field == "_minimum_age" %}
                                                {% if limit.value < 11 %}<li>Enfant (3 ans à 10 ans)  <input type="number" min="0" value="0" id="product-traveler-children"></li>{% endif %}
                                                {% endif %}
                                                {% if limit.field == "_minimum_age" %}
                                                {% if limit.value < 3 %}<li>Bébé (0 à 2 ans) <input type="number" min="0" value="0" id="product-traveler-baby"></li>{% endif %}
                                                {% endif %}
                                                {% if limit.field == "_animals" %}
                                                {% if limit.value == "TRUE" %}
                                                <li>Animaux <input type="number" min="0" value="0" id="product-traveler-animal"></li>
                                                {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <input type="submit" name="checking-dispo" class="click click-success w-100" value="Vérifier les disponibilités">
                            </div>
                            <div class="product-form-checkout"></div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="product-page-ndline my-4">
                        {% for limit in dwelling[1] %}
                        {% if limit.field == "_animals" %}
                        <div>
                            <i class="fas fa-dog size52"></i>
                            <span>{% if limit.value == TRUE %}Animaux acceptés{% else %}Animaux non acceptés{% endif %}</span>
                        </div>
                        {% endif %}

                        {% if limit.field == "_breakfast" %}
                        <div>
                            <i class="fas fa-cookie-bite size52"></i>
                            <span>{% if limit.value =="TRUE" %}Petit déjeuner inclus{% else %}Petit déjeuner non inclus{% endif %}</span>
                        </div>
                        {% endif %}


                        {% if limit.field == "_max_people" %}
                        <div>
                            <i class="fas fa-user-friends size52"></i>
                            <span>{{ limit.value }} {% if limit.value =="1" %}voyageur{% else %}voyageurs{% endif %} au maximum</span>
                        </div>
                        {% endif %}

                        {% if limit.field == "_minimum_age" %}
                        <div>
                            <i class="fas fa-child size52"></i>
                            <span>Minimum {{ limit.value }} {% if limit.value <= "1" %}an{% else %}ans{% endif %}</span>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="product-page-rdline my-4">
                        <div class="card-details px-2">
                            <div>
                                <h3>DESCRIPTION DU LOGEMENT</h3>
                            </div>
                            <div>
                                <p>{{ dwelling[0].description }}</p>
                            </div>
                        </div>
                        <div class="card-details px-2">
                            <div>
                                <h3>CARACTÉRISTIQUES</h3>
                            </div>
                            <ul class="px-0 py-1">
                                {% for features in dwelling[1] %}
                                    {% if features.field == "_surface" %}
                                        <li>Surface habitable: {{ features.value }} m²</li>
                                    {% endif %}
                                    {% if features.field == "_piece" %}
                                        <li>Nombre de pièces: {{ features.value }}</li>
                                    {% endif %}
                                    {% if features.field == "_water" %}
                                        <li>Eau: {% if features.value == "TRUE" %}Oui{% else %}Non{% endif %}</li>
                                    {% endif %}
                                    {% if features.field == "_eletricity" %}
                                        <li>Électricité: {% if features.value == "TRUE" %}Oui{% else %}Non{% endif %}</li>
                                    {% endif %}
                                    {% if features.field == "_parking" %}
                                        <li>Parking: {% if features.value == "TRUE" %}Oui{% else %}Non{% endif %}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-details px-2">
                            <div>
                                <h3>ÉQUIPEMENTS</h3>
                            </div>
                            <ul class="px-0 py-1">
                                {% for equipments in dwelling[15] %}
                                    <li>{{ equipments }} </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="card-details px-2">
                            <div>
                                <h3>INFORMATIONS COMPLÉMENTAIRES</h3>
                            </div>
                            <ul class="px-0 py-1">
                                {% for informations in dwelling[1] %}
                                    
                                    {% if informations.field == "_arrival_from" %}
                                        <li>Arrivée: A partir de {{ informations.value }}
                                    {% elseif informations.field == "_arrival_until" %}
                                        jusqu'à {{ informations.value }}</li>
                                    {% endif %}
                                    
                                    {% if informations.field == "_departure_before" %}
                                        <li>Départ: Avant {{ informations.value }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>



                    {% if dwelling[4] or dwelling[7] or dwelling[8] %}
                    <div class="product-page-lastline my-4">
                        <h3>COMMENTAIRES ET NOTES</h3>
                        <br>
                        <div class="product-lastline-display">
                        {% if dwelling[7] or dwelling[8] %}
                        <div class="product-user-likes">
                            <ul class="p-0">
                                {% if dwelling[7] %}<li>Propreté {{ dwelling[7] }}<span></span></li>{% endif %}
                                {% if dwelling[8] %}<li>Précision {{ dwelling[8] }}<span></span></li>{% endif %}
                                {% if dwelling[9] %}<li>Communication {{ dwelling[9] }}<span></span></li>{% endif %}
                                {% if dwelling[10] %}<li>Emplacement {{ dwelling[10] }}<span></span></li>{% endif %}
                                {% if dwelling[11] %}<li>Arrivée {{ dwelling[11] }}<span></span></li>{% endif %}
                                {% if dwelling[12] %}<li>Rapport qualité prix {{ dwelling[12] }}<span></span></li>{% endif %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if dwelling[4] %}
                        <div class="product-user-comments">
                                {% for comments in dwelling[4] %}
                                    <h4>{{ comments[1].first_name }}</h4>
                                    <p>{{ comments[0].added_at }}</p>
                                    <p>{{ comments[0].description }}</p>
                                {% endfor %}
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    {% if app.user %}
                    {% if likes == TRUE or comments == TRUE %}
                    <h3>Vous pouvez laisser un commentaire</h3>
                    <div class="d-flex gap-1 w-75 my-2">
                        {% if likes == TRUE %}
                        <form id="user-like" data-dwelling = "{{ dwelling[0].id }}">
                            <div class="criteria">Propreté <span>{% for i in 1..5 %}<button class="fas fa-star cp criteria-star" name="_cleanliness" value="{{ i }}"></button>{% endfor %}</span></div>
                            <div class="criteria">Précision <span>{% for i in 1..5 %}<button class="fas fa-star cp criteria-star" name="_precision" value="{{ i }}"></button>{% endfor %}</span></div>
                            <div class="criteria">Communication <span>{% for i in 1..5 %}<button class="fas fa-star cp criteria-star" name="_communication" value="{{ i }}"></button>{% endfor %}</span></div>
                            <div class="criteria">Emplacement <span>{% for i in 1..5 %}<button class="fas fa-star cp criteria-star" name="_location" value="{{ i }}"></button>{% endfor %}</span></div>
                            <div class="criteria">Arrivée <span>{% for i in 1..5 %}<button class="fas fa-star cp criteria-star" name="_arrival" value="{{ i }}"></button>{% endfor %}</span></div>
                            <div class="criteria">Rapport qualité prix <span>{% for i in 1..5 %}<button class="fas fa-star cp criteria-star" name="_value_for_money" value="{{ i }}"></button>{% endfor %}</span></div>
                            <input type="submit" class="click click-success" name="btn_like" value="Envoyer">
                        </form>
                        {% endif %}
                        {% if comments == TRUE %}
                        <form id="user-comment" class="w-50">
                            <textarea rows="6" name="comments_text" id="comments_text"></textarea>
                            <input type="hidden" value="{{ dwelling[0].id }}" name="_dwelling">
                            <input type="submit" class="click click-success ml-auto" name="btn_comment" value="Commenter">
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
                {% if app.user %}
                    {% set email = app.user.email %}
                {% else %}
                    {% set email = '' %}
                {% endif %}
                <script>
                    arrivalDate = document.querySelector('.single-product-arrival').dataset.period
                    departureDate = document.querySelector('.single-product-departure').dataset.period

                    function dataProduct($url = "{{ ath_link }}{{ path('app_habitation', {'slug': productUrl, 'id': dwelling[0].id}) | lower }}", $ckeck_url = "{{ path('single_product_check') }}", 
                    $dwelling_id="{{ dwelling[0].id }}", $arrival = arrivalDate, 
                    $departure = departureDate, $local = "{{ ath_link }}", 
                    $auth = "{{ email }}"){
                        return [$url, $ckeck_url, $dwelling_id, $arrival, $departure, $local, $auth, "{{ path('login') }}"]
                    }
                </script>
                <div id="map"></div>
                <script>
                var ville = {
                    "lat": "{{ dwelling[0].longitude }}", "lon": "{{ dwelling[0].latitude }}",
                }
                var map = L.map('map').setView([ville.lon, ville.lat], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    minZoom: 1,
                    maxZoom: 19,
                    attribution: '© OpenStreetMap | AtypikHouse'
                }).addTo(map);
                var marker = L.marker([ville.lon, ville.lat]).addTo(map);
                {# var marker = L.marker([48.86, 2.33]).addTo(map); #}
                </script>

                {% endfor %}
        </div>
    </div>



</div>


{# <script>
    var villes = {
        "Paris": {"lat": 48.852969, "lon":2.349903},
        "Brest": {"lat": 48.383, "lon": -4.500},
        "Quimper": {"lat": 48.000, "lon": -4.100 },
        "Bayonne": {"lat": 43.500, "lon": -1.467},
    }
    var map = L.map('map').setView([48.852969, 2.349903], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        minZoom: 1,
        maxZoom: 19,
        attribution: '© OpenStreetMap | AtypikHouse'
    }).addTo(map);
    for(ville in villes){
        var marqueur = L.marker([villes[ville].lat, villes[ville].lon])
        .addTo(map);
        marqueur.bindPopup("<p>Paris</p>")
    }
    {# var marker = L.marker([48.86, 2.33]).addTo(map); 
</script>#}

{% include 'inc/parts/footer.html.twig' %}